/* Estilo del contenedor principal */
.usuarios-container {
    overflow: hidden;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
}

/* Pseudo-elemento para el fondo con blur */
.usuarios-container::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/imgs/condominio4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
    z-index: -1;
}

/* Estilo del logo */
.logo {
    width: 400px;
    margin-bottom: 20px;
}

/* Estilo del texto de bienvenida */
.usuarios-text {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Estilo del área de búsqueda y botones */
.usuarios-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/* Estilo del input de búsqueda */
.search-input {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Estilo de los botones de acción */
.btn-action {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-action:hover {
    background-color: #00939D;
}

/* Estilo de la tabla de usuarios */
.usuarios-list {
    width: 80%;
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    color: rgb(15, 14, 14);
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #8AB545;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

p{
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}